frontend-url: "https://ec2-18-220-185-156.us-east-2.compute.amazonaws.com:443"
core-url: "https://core:3000"
redirect-uri: "https://ec2-18-220-185-156.us-east-2.compute.amazonaws.com:3001/v1/authorize_callback"
reddit-secret: "SECRET"
reddit-client-id: "2fRgcQCHkIAqkw"
reddit-oauth-url: "http://oauth.reddit.com"
