frontend-url: "https://www.iced-mocha.com:443"
core-url: "https://core:3000"
reddit-client-url: "https://reddit-client:3001"
redirect-uri: "https://www.iced-mocha.com/v1/authorize_callback"
reddit-secret: "SECRET"
reddit-client-id: "2fRgcQCHkIAqkw"
reddit-oauth-url: "http://oauth.reddit.com"
